**/Builds
**/JuceLibraryCode
**/.vscode
**/wav/reaper_testproject/Media/peaks
**/wav/reaper_testproject/reaper_testplug/Backups
**/wav/reaper_testproject/Backups
**/MyKits
/build/
/packaging/windows/SimpleSampler.vst3
/packaging/windows/SimpleSampler-Windows-Setup.exe
/JUCE
/CMakeFiles

